body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}
.hero-section {
    background: #0b0c2a;
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
    text-align: center;
}
.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
}
.hero-section p {
    font-size: 1.2rem;
    margin-top: 15px;
}
.content-section {
    padding: 50px 15px;
}
.content-section .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}
.team-section .card {
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.team-section .card:hover {
    transform: translateY(-10px);
}

nav {
    position: fixed;
    top: 20px;
    right: 20px;
    transform: skew(-20deg);
    background-color: #333;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1000;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    transform: skew(20deg);
}
nav input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    transform: skew(20deg);
}
nav a:hover {
    background-color: #575757;
}
nav a.btn-success {
    background-color: #008000;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 10px;
}
nav a.btn-success:hover {
    background-color: darkgreen;
}
.nav2 {
    position: fixed;
    top: 0px;
    left: 20px;
    background-color: transparent;
    z-index: 1000;
}
.logo img {
    width: 200px;
    height: 110px;
}



.footer-logo {
    width: 200px;
    height: auto;
}
.go-to-top {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}